PGUSER="questtwyst_14fe_user"
PGPASSWORD="Cn34GTRh4sbpTMMNe1j77n6aaBTnICyt"
PGHOST="dpg-d9co1hj7uimc73enlnr0-a.ohio-postgres.render.com"
PGPORT=5432
PGDATABASE="questtwyst_14fe"

JWT_SECRET="questwyst_local_dev_secret_key_2026"